<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">Наши контакты</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">Почта</li><li><a class="u-email" href="mailto:potylitcyn@phystech.edu">potylitcyn@phystech.edu</a></li></ul>
        </div>
  
        <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/ant-lab-ru"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">ant-lab-ru</span></a></li>
        
        <li><a href="https://www.youtube.com/@ant-lab-ru"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#youtube"></use></svg> <span class="username">ant-lab-ru</span></a></li>
        <li><a href="https://vk.com/antlabru"><svg class="svg-icon"><use xlink:href="social-icons/vk.svg"></use></svg> <span class="username">ant-lab</span></a></li>
        </ul></div>
  
        <div class="footer-col footer-col-3">
          <p>Следите за нами на нашем youtube-канале!</p>
        </div>
      </div>
  
    </div>
  
  </footer>